__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.ipynb_checkpoints
.mypy_chache
.git
data/processed/*
!data/processed/VNP46A1_2020/*
data/predict/*
data/merra/M2T1NXAER/*
data/merra/M2T1NXFLX/*
data/merra/M2T1NXRAD/*
data/merra/M2I3NVASM/*
data/modis/MCD19A2/*
data/modis/VNP46A1/*
src/
.eggs/
.pytest_cache/
.env
.env_dev
.env_prod